<section class="mt-4 pt-4">
    <h3>Associations enregistrées</h3>

    <section class="row container mt-4">
    <article class="col-md-4 mr-4">
        <div class="container-fluid">
            <div class="text-center">
	            <a href="{{ path('ileauxenfants') }}"><img src="/images/animations/ileauxenfants.jpg" height="200">
	            <h5 class="text-center mt-3">L'île aux enfants</h5>
                </a>
                <p> <strong> Activités, loisirs et sorties pour les enfants de la commune </strong> </p>
                <p>Présidente: <br> Marie-José PRUD'HOMME</p>
            </div>
            <p> Siège social : 7 rue des Halles <br>
                55140 Pagny la Blanche Côte </p>
        </div>
    </article>

    <article class="col-md-4">
        <div class="container-fluid">
            <div class="text-center">
	            <a href="{{ path('saintgregoire') }}"><img src="images/animations/concert-eglise.jpg" height="200" width="300">
	            <h5 class="text-center">Association St Grégoire le Grand</h5>
                </a> 
                <p> <strong> Restauration du patrimoine communal </strong> </p>
            </div>
            <p> Président: Jean-Paul LONG </p>
            <p> Siège social : 7 rue des Halles <br>
                55140 Pagny la Blanche Côte </p>
        </div>
    </article>
</section>