<section>
    
    <div class="row">
        
        <article class="col-12 col-md-7 col-lg-6">
            <h3> La mairie à votre service </h3>
            <p> La marie est ouverte :
                <ul>
                    <li> Le lundi de 10h30 à 12h30</li>
                    <li> Le jeudi de 10h30 à 12h30 </li>
                </ul>
            </p>
            <p> <i class="fa fa-location-dot"> </i> 7, rue des Halles <br>     55140 Pagny la Blanche Côte </img> </p>
            <p> <i class="fa-solid fa-phone"> </i> 03 29 90 86 30  <span class="ml-2"> 
            <i class="fa-solid fa-fax"> </i> Fax: 03 29 90 86 30 </span> </p>
            <p> <i class="fa-solid fa-at"></i> <a href="mailto:pagnylablanchecote@wanadoo.fr"> pagnylablanchecote@wanadoo.fr </a></p>
        </article>
        <article class="optionnel col-sm-3 col-md-5 col-lg-6 align-self-center">
            <div class="container-fluid">
                <img class="bords-arrondis" src = "/images/mairie/photomairie.jpg" width="100%"/>  
            </div>
        </article>
    </div>   
</section>