<section class="mt-4 pt-4">
<h2> Bureaux </h2>
<p> <img src="/images/iconeadresse.jpg" height="80">7, rue des Halles <span margin="20">     55140 Pagny la Blanche Côte </img> </p>
        <p> <img src="/images/iconetel.jpg" height="60" > 03 29 90 86 30 </img> 
        <img  src="/images/iconefax.jpg" height="70"> Fax: 03 29 90 86 30 </img> </p>
        <p> La marie est ouverte :
            <ul>
                <li> Le lundi de 10h30 à 12h30</li>
                <li> Le jeudi de 10h30 à 12h30 </li>
            </ul>
        </p>
</section>