<section>
    
    <div class="row">
        
        <article class="col-12 col-md-7 col-lg-6">
            <h3> La mairie à votre service </h3>
            <p> La marie est ouverte :
                <ul>
                    <li> Le lundi de 10h30 à 12h30</li>
                    <li> Le jeudi de 10h30 à 12h30 </li>
                </ul>
            </p>
            <p> <img src="/images/iconeadresse.jpg" height="40">7, rue des Halles <br>     55140 Pagny la Blanche Côte </img> </p>
            <p> <img src="/images/iconetel.png" height="35" > 03 29 90 86 30 </img> 
            <img  src="/images/iconefax.jpg" height="40"> Fax: 03 29 90 86 30 </img> </p>
        </article>
        <article class="optionnel col-sm-3 col-md-5 col-lg-6 align-self-center">
            <div class="container-fluid">
                <img src = "/images/mairie/photomairie.jpg" width="100%"/>  
            </div>
        </article>
    </div>   
</section>