<section class="mt-4 pt-4">
    
    <div class="row container">
        <article class="col-md-6">
        <h3> La mairie à votre service </h3>
            <p> La marie est ouverte :
                <ul>
                    <li> Le lundi de 10h30 à 12h30</li>
                    <li> Le jeudi de 10h30 à 12h30 </li>
                </ul>
            </p>
            <p> <img src="/images/iconeadresse.jpg" height="40">7, rue des Halles <br>     55140 Pagny la Blanche Côte </img> </p>
            <p> <img src="/images/iconetel.jpg" height="40" > 03 29 90 86 30 </img> 
            <img  src="/images/iconefax.jpg" height="40"> Fax: 03 29 90 86 30 </img> </p>
        </article>
        <aside class="col-md-6">
            <p> <img src = "/images/mairie/photomairie.jpg" height="300"> Mairie </img> </p>
        </aside>
</section>