<section class="mt-4 pt-4">
    <h4>Conseil Municipal élu en 2014:</h4>

    <p>    <b>Maire :</b> M. Daniel Rouvenach  <img src="/images/mairie/DRouvenach.jpg" width="150" height="150"></p>
    <p> <b>Adjoints :</b>
    <ul>
            <li>M. François Nuffer</li>
            <li>Mme Marie-José Prud'homme</li>
    </ul>
    <p> <b>Conseillers et commissions :</b>
    <ul>
            <li>M. Laurent Vichard</li>
            <li>Mme Michèle Bocciarelli</li>
            <li>M. Gaël Rouvenach</li>
            <li>M. Sylvain Zimmermann</li>
            <li>M. Michaël Thiry</li>    
            <li>M. Fabien Chrétien</li>
            <li>Mme Vanessa Martin</li>
    </ul>
</section>