<section>
    <h3>Conseil Municipal élu en 2020</h3>

    <p>    <b>Maire :</b> M. Daniel ROUVENACH  <img src="/images/mairie/DRouvenach.jpg" width="190" height="150"></p>
    <p> <b>Adjoints :</b>
    <ul>
            <li>Mme Marie-José PRUD'HOMME</li>
            <li>M. Gaël ROUVENACH</li>
    </ul>
    <p> <b>Conseillers :</b>
    <ul>
            <li>Mme Michèle BOCCIARELLI</li>
            <li>M. Fabien CHRETIEN</li>
            <li>M. Didier CORMORECHE</li>
            <li>Mme Marie-Françoise DEWULF</li>
            <li>M. Vincent DOUAY</li>
            <li>M. Alain LEFEBVRE</li>
            <li>M. Santiago MARTIN ALONSO</li>
            <li>M. Michaël THIRY</li>
    </ul>
    
    <h4>Commissions :</h4>
    <ol>
        <li class="mt-2"><strong>Appel d'offres:</strong> le Maire et </li>
        <div class="row container">
            <div class="col md-6">
                3 délégués :
                <ul>
                    <li>M. Vincent DOUAY</li>
                    <li>M. Alain LEFEBVRE</li>
                    <li>M. Gaël ROUVENACH </li>
                </ul>
            </div>
            <div class="col md-6">        
                3 suppléants :
                <ul>
                    <li>Mme Michèle BOCCIARELLI</li>
                    <li>M. Didier CORMORECHE</li>
                    <li>Mme Marie-Françoise DEWULF</li>
                </ul>
            </div>
        </div>

        <li class="mt-4"> <strong>Bois: </strong>le Maire et </li>
        <div class="row container">
            <div class="col-md-6">
                3 garants :
                <ul>
                    <li>Mme Marie-José PRUD'HOMME</li>
                    <li>M. Gaël ROUVENACH </li>
                    <li>M. Santiago MARTIN ALONSO</li>
                </ul>
            </div>
            <div class="col-md-6">        
                1 suppléant :
                <ul>
                    <li>M. Didier CORMORECHE</li>
                </ul>
            </div>
        </div>
        <li class="mt-4"> <strong>Salle des fêtes: </strong>le Maire et </li>
        <div class="row container">
            <div class="col-md-6">
                3 délégués :
                <ul>
                    <li>Mme Michèle BOCCIARELLI</li> 
                    <li>Mme Marie-José PRUD'HOMME</li>
                    <li>M. Gaël ROUVENACH </li>
                </ul>
            </div>
            
        </div>

        <li class="mt-4"> <strong>Permis de construire, travaux, bâtiments et chemins: </strong>le Maire et </li>
        <div class="row container">
            <div class="col-md-6">
                3 délégués :
                <ul>
                    <li>M. Fabien CHRETIEN</li>
                    <li>M. Vincent DOUAY</li>
                    <li>M. Alain LEFEBVRE</li>
                </ul>
            </div>
        </div>

        <li class="mt-4"> <strong>Finances: </strong>le Maire et </li>
        <div class="row container">
            <div class="col-md-6">
                6 délégués :
                <ul>
                    <li>Mme Michèle BOCCIARELLI</li> 
                    <li>M. Fabien CHRETIEN</li>
                    <li>M. Vincent DOUAY</li>
                    <li>Mme Marie-José PRUD'HOMME</li>
                    <li>M. Gaël ROUVENACH </li>
                </ul>
            </div> 
        </div>

        <li class="mt-4"> <strong>Service des Eaux: </strong>le Maire et </li>
        <div class="row container">
            <div class="col-md-6">
                1 délégué :
                <ul>
                    <li>M. Didier CORMORECHE</li>
                </ul>
            </div>
            <div class="col-md-6">        
                1 suppléant :
                <ul>
                    <li>M. Gaël ROUVENACH </li> 
                </ul>
            </div>
        </div>

        <li class="mt-4"> <strong>Communication: </strong>le Maire et </li>
        <div class="row container">
            <div class="col-md-6">
                3 délégués :
                <ul>
                    <li>Mme Michèle BOCCIARELLI</li> 
                    <li>M. Didier CORMORECHE</li>
                    <li>Mme Marie-Françoise DEWULF</li>
                </ul>
            </div>
            
        </div>
    </ol>
</section>