<section class="container">
    <iframe src="https://www.france-cadastre.fr/embed?insee=55397" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p style="font-size:11px;text-align:right;">
    Ce plan de <a href="https://france-cadastre.fr" target="_blank">cadastre</a> est édité par France Cadastre.</p>

</section>