{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 14px/1.5 sans-serif; }
</style>

<main>
    <h2>{{ titre }} </h2>
    <hr>
    <section class="mt-4 pt-4">
        <h3> Démarches en ligne </h3>
        <div class="row container">
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/N359" target="_blank"><img src="/images/mairie/acte-etat-civil.jpg" alt="E-mairie, vos démarches" width="150" height="130"/>
                        <h5 class="text-center">Demande d&#8217;acte d&#8217;état civil</h5>
                        </a>
                    </div>
                </div>
                
                <p>Obtenir gratuitement une copie ou un extrait d&#8217;acte d&#8217;état civil, de naissance, mariage, décès.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/R16396" target="_blank"><img src="/images/mairie/carte-electorale.jpg" alt="Carte électorale" width="130" height="130" />
                        {# <a href="https://mdel.mon.service-public.fr/inscription-listes-electorales.html" target="_blank"><img src="/images/mairie/carte-electorale.jpg" alt="Carte électorale" width="130" height="130" /> #}
                        <h5 class="text-center">Inscription sur les listes électorales</h5>
                        </a>   
                    </div>
                </div>
                <p>Demander votre inscription sur les listes électorales de votre commune.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/R2054" target="_blank"><img src="/images/mairie/recensement-citoyen.jpg" alt="Image recensement citoyen" width="180" height="130" />
                        <h5 style="text-align: center;">Recensement citoyen obligatoire</h5>
                        </a>
                    </div>
                </div>
                <p>Vous faire recenser, dans le cadre des obligations de service national.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/N358" target="_blank"><img src="/images/mairie/carte-identite.jpg" alt="Faites faire votre carte d'identité en ligne" width="150" height="130" />
                        <h5 style="text-align: center;">Demande de carte d'identité</h5>
                        </a>
                    </div>
                </div>
                <p>Faire ou renouveler votre carte d'identité.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/N360" target="_blank"><img src="/images/mairie/passeport.jpg" alt="Faites faire votre passeport en ligne" width="130" height="130" />
                        <h5 style="text-align: center;">Demande de passeport</h5>
                        </a>
                    </div>
                </div>
                <p>Faire ou renouveler votre passeport.</p>
            </div>
        </div>
    </section>
    
    {% include '/mairie/bureaux.html.twig' %}
        
    {% include '/mairie/lienscomcom.html.twig' %}
</main>
{% endblock %}