{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    {# .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; } #}
    .example-wrapper { margin: 1em auto; font: 16px/1.5 sans-serif; align: justify}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row container">
    <main class="example-wrapper col-md-8">
        <h1>{{ titre }} </h1>
        {% include '/mairie/associations.html.twig' %}
        
    </main>
    <aside class="col-md-4">
        <section class="ml-4 mt-4">
        <h4> Plus d'informations </h4>
        <strong> contacts: </strong>
        <p> </p>
        <h4> Sur le même thème </h4>
        <ul>
            <li> Activités de L'île aux enfants </li>
            <li> Restauration de l'Eglise Saint Grégoire </li>
        
        </ul>
        </section>
    </aside>
</div>
{% endblock %}