{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 14px/1.5 ; }
</style>

<main>
    <h2>{{ titre }} </h2>
    <hr>
    <section class="mt-4 pt-4">
        <h3> Démarches citoyenneté </h3>
        <div class="row container">
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/N359" target="_blank"><img src="/images/mairie/acte-etat-civil.jpg" alt="E-mairie, vos démarches" width="150" height="130"/>
                        <h5 class="text-center">Demande d&#8217;acte d&#8217;état civil</h5>
                        </a>
                    </div>
                </div>
                
                <p>Obtenir gratuitement une copie ou un extrait d&#8217;acte d&#8217;état civil, de naissance, mariage, décès.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/R16396" target="_blank"><img src="/images/mairie/carte-electorale.jpg" alt="Carte électorale" width="130" height="130" />
                        {# <a href="https://mdel.mon.service-public.fr/inscription-listes-electorales.html" target="_blank"><img src="/images/mairie/carte-electorale.jpg" alt="Carte électorale" width="130" height="130" /> #}
                        <h5 class="text-center">Inscription sur les listes électorales</h5>
                        </a>   
                    </div>
                </div>
                <p>Demander votre inscription sur les listes électorales de votre commune.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/R2054" target="_blank"><img src="/images/mairie/recensement-citoyen.jpg" alt="Image recensement citoyen" width="180" height="130" />
                        <h5 style="text-align: center;">Recensement citoyen obligatoire</h5>
                        </a>
                    </div>
                </div>
                <p>Vous faire recenser, dans le cadre des obligations de service national.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/N358" target="_blank"><img src="/images/mairie/carte-identite.jpg" alt="Faites faire votre carte d'identité en ligne" width="150" height="130" />
                        <h5 style="text-align: center;">Demande de carte d'identité</h5>
                        </a>
                    </div>
                </div>
                <p>Faire ou renouveler votre carte d'identité.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/N360" target="_blank"><img src="/images/mairie/passeport.jpg" alt="Faites faire votre passeport en ligne" width="130" height="130" />
                        <h5 style="text-align: center;">Demande de passeport</h5>
                        </a>
                    </div>
                </div>
                <p>Faire ou renouveler votre passeport.</p>
            </div>
        </div>
    </section>
    
    <section class="mt-4 pt-4">
        <h3> Démarches pour véhicules </h3>
        <div class="row container">
            
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://permisdeconduire.ants.gouv.fr/Vos-demarches/La-demande-de-permis-en-ligne" target="_blank"><img src="/images/mairie/permis-de-conduire.jpg" alt="Permis de conduire" width="150" height="130"/>
                        <h5 class="text-center">Demande de permis de conduire</h5>
                        </a>
                    </div>
                </div>
                
                <p>Effectuer une demande de permis de conduire en ligne.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://immatriculation.ants.gouv.fr/Services-associes/Le-certificat-de-situation-administrative-non-gage-et-opposition" target="_blank"><img src="/images/mairie/certificat-non-gage1.jpg" alt="Image certificat de non gage" width="180" height="130" />
                        <h5 style="text-align: center;">Certificat de non gage</h5>
                        </a>
                    </div>
                </div>
                <p>Obtenir gratuitement un certificat de situation administrative (non gage et opposition) pour un véhicule d'occasion.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="/documents/cerfa_15776-01.pdf" target="_blank"><img src="/images/mairie/certificat-cession-vehicule.jpg" alt="Image certificat de cession de véhicule" width="180" height="130" />
                        <h5 style="text-align: center;">Certificat de cession de véhicule</h5>
                        </a>
                    </div>
                </div>
                <p>Remplir un certificat de cession de véhicule - cerfa 15776*01 - conjointement entre vendeur (ou donateur) et acquéreur.</p>
            </div>
            <div class="example-wrapper col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://immatriculation.ants.gouv.fr/Questions-frequentes/Acheter-ou-recevoir-un-vehicule-d-occasion/Lorsque-j-achete-ou-recois-un-vehicule-d-occasion-comment-obtenir-une-carte-grise-certificat-d-immatriculation-a-mon-nom" target="_blank"><img src="/images/mairie/carte-grise.jpg" alt="Carte grise" width="130" height="130" />
                        <h5 class="text-center">Demande de carte grise</h5>
                        </a>   
                    </div>
                </div>
                <p>Obtenir un certificat d&#8217;immatriculation à mon nom pour un véhicule nouvellement acquis.</p>
            </div>
        </div>

        <h3> Démarches pour changement d&#8217;adresse </h3>
        <div class="row container">
            
            <div class="example-wrapper col-md-6">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.service-public.fr/particuliers/vosdroits/R11193" target="_blank"><img src="/images/mairie/demenagement.jpg" alt="Déménagement" width="180" height="150"/>
                        <h5 class="text-center">Déclaration de changement de coordonnées</h5>
                        </a>
                    </div>
                </div>
                
                <p>Déclarer un changement d&#8217;adresse postale, électronique ou de téléphone simultanément à plusieurs services publics (Caisse de sécurité sociale et de retraite, EDF ou Engie, service des Impôts, Pôle Emploi, Service en charge des cartes grises ).</p>
            </div>
        </div>
    </section>
    {% include '/mairie/bureaux.html.twig' %}
        
    {% include '/mairie/lienscomcom.html.twig' %}

    {% include '/mairie/menumairie.html.twig' %}
</main>
{% endblock %}