{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<div class="row container">
    <main class="example-wrapper col-md-8">
        <h2>{{ titre }} </h2>
        <hr>
        {% include '/mairie/urbanisme.html.twig' %}

    </main>
    <aside class="col-md-4">
        <section class="ml-4 mt-4">
        <h4> Plus d'informations </h4>
        <strong> contact: </strong>
        <p> </p>
        {% include '/mairie/infostravaux.html.twig' %}
        <hr>
        {% include '/mairie/menumairie.html.twig' %}
        </section>
    </aside>
</div>
{% endblock %}