{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}


<main>
        <h2>{{ titre }} </h2>
        <hr>
        {% include '/mairie/associations.html.twig' %}    
</main>
<aside>
        {% include '/mairie/menumairie.html.twig' %}   
</aside>
{% endblock %}