{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row container">
    <main class="example-wrapper col-md-8">
        <h1>{{ titre }} </h1>
        
        {% include '/mairie/bureaux.html.twig' %}
     
        {% include '/mairie/conseilmunicipal.html.twig' %}
        
        <section class="mt-4 pt-4">
        La commune a deux associations déclarées en activité : 
        <ul>
        <li> L'<b>association Saint Grégoire Le Grand</b> qui s'occupe de la <a href="https://www.fondation-patrimoine.org/les-projets/eglise-saint-gregoire-le-grand-a-pagny-la-blanche-cote">restauration du bâtiment de l'Eglise </a></li>
        <li> L'<b>île aux enfants</b> qui organise des animations pour les enfants </li>
        </ul>
        </section>
        
        {% include '/mairie/lienscomcom.html.twig' %}

        </main>
    <aside class="col-md-4">
        <p> <img src = "/images/photomairie.jpg" height="300"> Mairie </img> </p>
        <p> <img src = "/images/belles-heures-musicales-de-l-eglise.jpg" alt"Salle des fêtes" height="300"> Concert annuel dans l'Eglise Saint Grégoire </img></p>
        <p> <img src = "/images/association-l-ile-aux-enfants.jpg" alt"L'île aux enfants" height="300"> L'île aux enfants </img></p>
    </aside>
</div>
{% endblock %}
