{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<link rel="stylesheet" href='/css/finances.css'>
<main>
    <h2>{{ titre }} </h2>
    <hr>
    <section>
        <h3> chiffres clés 2022 et budget 2023 </h3>
        <div class="row">
            <div class="example-wrapper col-sm-6 col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="#" id="display-commune" class="clicrapide finance-label"><img class="bords-arrondis" src="/images/mairie/iconemairie.png" alt="Icone mairie" width="150" height="130"/>
                            <h5 class="text-center">Commune</h5>
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="example-wrapper col-sm-6 col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="#" id="display-eau" class="clicrapide finance-label"><img class="bords-arrondis" src="/images/mairie/robinet1.jpg" alt="Image Robinet avec eau qui coule" width="130" height="130" />
                            <h5 class="text-center">Eau</h5>
                        </a>   
                    </div>
                </div>
            </div>
            <div class="example-wrapper col-sm-6 col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="#" id="display-assainissement" class="clicrapide finance-label"><img class="bords-arrondis" src="/images/mairie/iconeassainissement1.jpg" alt="Icone assainissement" width="180" height="130" />
                        <h5 class="text-center">Assainissement</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div id = "commune" class="finances-sector">
            {% include 'mairie/finances/_CA_2022_Commune.html.twig' %}
        </div>
        <div id = "eau" class="finances-sector">
            {% include 'mairie/finances/_CA_2022_Eau.html.twig' %}
        </div>
        <div id = "assainissement" class="finances-sector">
            {% include 'mairie/finances/_CA_2022_Assainissement.html.twig' %}
        </div>
    </section>
    <!-- <section>
        <h3> Budget 2023 </h3>
        <div class="row">
            
            <div class="example-wrapper col-sm-6 col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="/documents/BP_2021_Commune.pdf" target="_blank">
                            <img class="bords-arrondis" src="/images/mairie/iconevillage.png" alt="Icone village" width="150" height="130"/>
                            <h5 class="text-center">Commune</h5>
                        </a>
                    </div>
                </div>
                
                <p>Prévisions 2021 pour le budget de la commune.</p>
            </div>
            <div class="example-wrapper col-sm-6 col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="/documents/BP_2021_Eaux.pdf" target="_blank">
                            <img class="bords-arrondis" src="/images/mairie/robinet.jpg" alt="Image robinet avec eau qui coule" width="180" height="130" />
                            <h5 class="text-center">Eau</h5>
                        </a>
                    </div>
                </div>
                <p>Prévisions 2021 pour l&#8217;approvisionnement en eau potable.</p>
            </div>
            <div class="example-wrapper col-sm-6 col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="/documents/BP_2021_Assainissement.pdf" target="_blank">
                            <img class="bords-arrondis" src="/images/mairie/iconeassainissement.png" alt="Icone assainissement" width="180" height="130" />
                            <h5 class="text-center">Assainissement</h5>
                        </a>
                    </div>
                </div>
                <p>Prévisions 2021 pour l&#8217;assainissement des eaux usées.</p>
            </div>
        </div>

    </section> -->
    <section>
        <h3> Exercices antérieurs </h3>
        <div class="row">
            
            <div class="example-wrapper col-sm-6 col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        <a href="https://www.impots.gouv.fr/cll/zf1/communegfp/flux.ex?_flowExecutionKey=e2s4&_eventId=chiffrescles&critereDeSelection.nomCol=PAGNY-LA-BLANCHE-COTE" target="_blank">
                        <h5 class="text-center"> Chiffres clés depuis 2000</h5>
                        </a>
                    </div>
                </div>
                <p>D'après les comptes individuels des communes</p>
            </div>

            <div class="example-wrapper col-sm-6 col-md-4">
                <div class="container-fluid">
                    <div class="text-center">
                        
                        <a href="https://www.journaldunet.com/business/budget-ville/pagny-la-blanche-cote/ville-55397/budget" target="_blank">
                        <h5 class="text-center"> Diagrammes et courbes depuis 2000</h5>
                        </a>
                    </div>
                </div>
                <p>D'après le JDN (source : Ministère de l'Economie)</p>
            </div>
        </div>
</main>
<script src="js/finances.js" type="module"> </script>
{% endblock %}