{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}


<div class="row">
    
    <main class="container-fluid col-md-9">
        <h2>{{ titre }} </h2>
        <hr>
        {% include '/mairie/conseilmunicipal.html.twig' %}

    </main>
    
</div>
{% endblock %}