<section>
        Liens :
        <ul>
        <li> <a href="http://www.codecom-valdescouleurs.fr"> Communauté de Communes Commercy - Void - Vaucouleurs</a> </li>
        <li> <a href="http://www.meuse.gouv.fr/Services-de-l-Etat/Prefecture-et-sous-prefectures/La-Sous-Prefecture-de-Commercy"> Sous-Préfecture de Commercy </a> </li>
        <li> <a href="http://www.meuse.gouv.fr/Services-de-l-Etat/Prefecture-et-sous-prefectures/La-Prefecture-de-la-Meuse"> Préfecture de la Meuse </a> </li>
        </ul>
</section>