
<h4> Edition, création et hébergement </h4>
<div>
    <p>
        Le site pagnylablanchecote.net est édité par :
    </p>
    <p class="ml-4">
        Mairie de Pagny la Blanche Côte<br>
        7 rue des Halles<br>
        55140 Pagny la Blanche Côte.<br>
        Tél : 03 29 90 86 30.<br>
    </p>
    <p>
        Le Concepteur et Développeur du site est : MF Pagny Informatique.<br>
        Le Responsable de la publication est : Mairie de Pagny la Blanche Côte.<br>
        Contactez le responsable de la publication : mairie@pagnylablanchecote.net<br>
    </p>
    <p>
        Le Webmaster est : Marie-Francoise D. - MF Pagny Informatique.<br>
        Contactez le Webmaster : mf@mfpagnyinformatique.fr<br>
        L’hebergeur du site est : OVH.
    </p>
</div>

<h4>Licence et droits de reproduction </h4>
<p>
La charte graphique du site (illustrations, typographie, emplacements, dimensions des éléments, etc.), est soumise aux droits d’auteur et protégée par la loi européenne. Les textes proposés sont la propriété de leurs auteurs. Les images et illustrations utilisées sont réalisées par MF Pagny Informatique.
Il est interdit de reproduire, représenter, transférer, distribuer, ou d’enregistrer tout ou partie de ces éléments, sous quelque forme que ce soit, sans mentionner Commune de Pagny la Blanche Côte en tant que source de l’élément, dans la présentation de votre contenu et dans la taille originale de la source.
</p>

<h4> Images </h4>
<p>Certaines icônes sont fournies par les bibliothèques <a href="https://fontawesome.com/">Font-Awesome</a>, <a href="https://www.flaticon.com/fr/">Flaticon</a> ou <a href="https://fr.freepik.com">Freepik</a>.</p>


<h4>Données personnelles - RGPD </h4>

<div>
    <p>
    Ce site ( pagnylablanchecote.net ) ne permet pas de collecter des informations à votre sujet, sauf dans le cas où vous renseignez vos coordonnées dans la page Contacts pour contacter la commune.
    Dans ce cas, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données vous concernant. Vous pouvez l'exercer :
    </p>
    <ul>
        <li>
            soit en écrivant à la Mairie de Pagny la Blanche Côte 7 rue des Halles 55140 Pagny la Blanche Côte
        </li>
        <li> soit en adressant un e-mail </li>
    <p>
        Les informations collectées sont destinées exclusivement à l'usage de la Mairie de Pagny la Blanche Côte afin de nous permettent de traiter votre demande. Elles ne seront en aucun cas communiquées ou vendies à des tiers.
        Soyez assurés que nous collectons vos données personnelles de façon loyale, et que nous les stockons de façon sécurisée. Vos données ne sont pas à la disposition du public ou de tiers (à l'exception toutefois de nos prestataires techniques lorsqu'ils interviennent sur nos machines, mais ils sont tenus aux mêmes obligations de confidentialité et de sécurité que nous).
    </p>
</div>
<h4>Liens hypertextes et cookies </h4>
<div>
    <p>
        Le site pagnylablanchecote.net contient un certain nombre de liens hypertextes vers d’autres sites qui sont fournis purement à des fins de commodité. 
        Mais pagnylablanchecote.net n’a aucun contrôle sur les sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.
    </p>
    <p>
        Le site pagnylablanchecote.net n'utilise pas des traceurs (cookies) par lui-même. 
        Mais il fait appel à Google Analytics à des fins de statistiques sur les pages visitées qui génère deux cookies mais de façon purement anonyme, qui ne permettent donc pas de vous identifier.
    </p>
        Que sont les cookies ?
        Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Dans le cas de pagnylablanchecote.net, les données ainsi obtenues visent à effectuer diverses mesures de fréquentation du site.
    <p>
        Combien de temps durent les cookies ?
        De façon générale, la plupart des cookies disparaissent lorsque vous fermez votre navigateur internet. Certains cookies peuvent rester actifs plusieurs jours voir plusieurs années. Vous pouvez décider vous-même à tout moment de les supprimer via votre navigateur.
    </p>
</div>

<h4> Modifications / mises à jour </h4>
<div>
    La Mairie de Pagny la Blanche Côte se réserve le droit à tout moment et sans préavis :
    <ul>
        <li> de modifier ou mettre à jour les informations publiées sur le site et le site lui-même, </li>
        <li> de modifier et de façon plus générale d'actualiser les présentes informations et conditions d'utilisation. C'est pourquoi nous vous invitons à les consulter régulièrement.</li>
    </ul>
</div>

<h4>Responsabilité de l'utilisateur du site </h4>
<div>
    <p>
        L'utilisateur du site est responsable de tous dommages causés à tout tiers y compris à la Mairie de Pagny la Blanche Côte, du fait de l'utilisation ou de l'exploitation illicite du site lui-même et/ou de l'un de ses éléments, et garantit la Mairie de Pagny la Blanche Côte des conséquences des réclamations ou actions dont elle pourrait, de ce fait, faire l'objet. 
    </p>
    <p>
        L'utilisateur du site renonce également à exercer tout recours contre la Mairie de Pagny la Blanche Côte dans le cas de poursuites diligentées par un tiers à son encontre du fait de l'utilisation et/ou de l'exploitation illicite du site.
    </p>
</div>