<h6 class="mt-4"> Associations de <br>Pagny la Blanche Côte</h6>
<div>
    <div><a href="{{ path('ileauxenfants') }}">L'île aux enfants</a></div>
    <div><a href="{{ path('saintgregoire') }}">St Grégoire le Grand</a></div>
</div>