<section>
				
	<p>La commune ne possède pas encore de Plan Local d&rsquo;Urbanisme, il est en cours d'élaboration. Vous pouvez toutefois accèder ci-dessous au plan cadastral interactif.
	Les informations détaillées sont disponibles en mairie.</p>
	<article class="row">
		<div class="example-wrapper col-4 ">
		</div>

		<div class="example-wrapper col-4 ">
			<div class="container-fluid clicrapide-item">
				<div class="text-center mt-2">
					<a href="{{ path('cadastre') }}" target="_blank" rel="noopener noreferrer">
						<img src="/images/iconecadastre-vert.png" alt="" width="70" height="80"/>
						<p class="text-center mt-2">Plan cadastral interactif</p>
					</a> 
				</div>
			</div>
		</div>

		<div class="example-wrapper col-4">
		</div>
	</article>

	<p class="mt-2">Le site de la "blanche côte" et de la "tête des rousseaux" étant classé Réserve Naturelle Régionale, vous pouvez trouver ci-dessous le réglement y afférent ainsi 
	que son plan.</p>
	<table class ="mt-4 table-urbanisme" border="1">
		<tbody>
			<tr classe="tr-urbanisme">
				<td class="titre-table-urbanisme" colspan="3"> Réserve Naturelle Régionale </td>
			</tr>
			<tr style="height: 96px;">
				<td class="cellule-table-urbanisme">
					<a href="/documents/dossier-rnr-pbc-2.pdf" target="_blank" rel="noopener noreferrer">
						<img class="alignnone mt-4" src="/images/telecharger-le-pdf-vert1.png" alt="" width="36" height="44">
						<p class="text-center">Règlement</p>
					</a>
				</td>
				<td class="cellule-table-urbanisme">
					<a href="/images/mairie/plan_cadastral_pagnybc_champougny.jpg">
						<img class="alignnone mt-4" src="/images/mairie/plan_cadastral_pagnybc_champougny_miniature.png" alt="" width="54" height="44">
						<p class="text-center">Plan 1/15000</p>
					</a>
				</td>
				<td class="cellule-table-urbanisme">
					<a href="/images/mairie/plan_site_natura2000.jpg" target="_blank" rel="noopener noreferrer">
						<img class="alignnone mt-4" src="/images/mairie/plan_site_1_25000_miniature.png" alt="" width="54" height="44">
						<p class="text-center">Plan 1/25000 </p>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</section>