<section class="mt-4">


<div style="margin-bottom:20px;">
	<img src="/images/mairie/urbanisme-700x465.jpg" alt="" width= "500px" height="300px"/> </a>
</div>
				
<p>La commune ne possède pas de Plan Local d&rsquo;urbanisme, mais vous pouvez accèder ci-dessous au plan cadastral interactif.
Les informations détaillées sont disponibles en mairie.</p>
<table class ="mt-4" style="border-collapse: collapse; width: 100%; height: 175px;" border="1">
<tbody>
<tr style="height: 24px;">
<td style="width: 90.0806%; text-align: center; height: 24px;" colspan="3"><span style="font-size: 18pt;"><strong>Commune de Pagny la Blanche Côte</strong></span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.4782%; text-align: center; height: 62px;"><img src="/images/iconelieninternet.jpg" alt="" width="70" height="80"><br>
	<a href="{{ path('cadastre') }}" target="_blank" rel="noopener noreferrer">Plan cadastral interactif</a>
</td>
</tr>
</tbody>
</table>
<p class="mt-4">Le site de la blanche côte et de la tête des rousseaux étant classé Réserve Naturelle Régionale, vous pouvez trouvez ci-dessous le réglement y afférent ainsi 
que son plan</p>
<table class ="mt-4" style="border-collapse: collapse; width: 100.001%; height: 112px;" border="1">
<tbody>
<tr style="height: 24px;">
<td style="width: 90.0806%; text-align: center; height: 24px;" colspan="3"><span style="font-size: 18pt;"><strong>Réserve Naturelle Régionale</strong></span></td>
</tr>
<tr style="height: 96px;">
<td style="width: 33%; text-align: center; height: 96px;"><img class="alignnone wp-image-758" src="/images/pdf_icon_64px.png" alt="" width="34" height="44"><br>
	<a href="/documents/dossier-rnr-pbc-2.pdf" target="_blank" rel="noopener noreferrer">Règlement</a></td>
<td style="width: 29.4282%; height: 96px; text-align: center;"><img class="alignnone wp-image-758" src="/images/mairie/plan_cadastral_pagnybc_champougny_miniature.png" alt="" width="54" height="44"><br>
	<a href="/images/mairie/plan_cadastral_pagnybc_champougny.jpg">Plan 1/15000</a></td>
<td style="width: 29.4782%; text-align: center; height: 96px;"><img class="alignnone wp-image-758" src="/images/mairie/plan_site_1_25000_miniature.png" alt="" width="54" height="44"><br>
	<a href="/images/mairie/plan_site_natura2000.jpg" target="_blank" rel="noopener noreferrer" data-wplink-url-error="true">Plan 1/25000</a></td>
</tr>
</tbody>
</table>
</section>