{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<div class="row">
    <main class="page-evenement">
        <h2> {{ titre }} </h2>
        <hr>
        <div class="container mt-4">
            <div class="row">
                {% for evenement in evenements %}
                <div class="col-xs-6 col-sm-4 col-md-2">
                    {% include 'evenement/_evenement.html.twig' %}
                </div>
                {% else %}
                    <li> Pas (encore !) d'évènements enregistrés</li>
                {% endfor %}
            </div>
        </div>
        {% include '/evenements/menuevenements.html.twig' %}
    </main>
</div>
{% endblock %}
