{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}


    <main class="page-evenement">
        <h2> {{ titre }} </h2>
        <hr>
        <div class="mt-4 bg-light">
            <div class="row">
                {% for evenement in evenements %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    {% include 'evenement/_evenement.html.twig' %}
                </div>
                {% else %}
                    <li> Pas (encore !) d'évènements enregistrés</li>
                {% endfor %}
            </div>
        </div>
        
    </main>
    {% include '/evenements/menuevenements.html.twig' %}
{% endblock %}
