<section class="container-fluid">
    <div class="text-center">
    <h5 class="mt-5"> Menu Evénements A Venir</h5>
        <div><a href="{{ path('evenements') }}">Tous</a></div>
        <div><a href="{{ path('fetesavenir') }}">Festivités </a></div>
        <div><a href="{{ path('flashinfos') }}">Flash Infos </a></div>
    </div>
</section>