<p><strong>Budget principal en euros</strong></p>

<table border="0" cellspacing="0" cellpadding="5px" class="ta1">
		<colgroup><col width="400px"/><col width="100"/><col width="100"/><col width="100"/></colgroup>
		
		<tr class="ro1">
			<td class="default co1"> </td>
			<td style="border-right:solid; border-width:2px" class="ce8"> <p>Prévision 2022</p></td>
			<td style="border-right:solid; border-width:2px" class="ce8"><p>Réalisation 2022</p></td>
			<td class="ce8"><p>Prévu 2023</p></td>
		</tr>
		<tr class="ro1">
			<td style="text-align:left; " class="ce3"><p>Report à nouveau</p></td>
			<td class="ce9">117 999</td>
			<td class="ce9">117 999</td>
			<td class="ce9">128 646</td>
		</tr>
		<tr class="ro1">
			<td class="ce2"><p>Total des produits de fonctionnement = A</p></td>
			<td class="ce10">144 284</td>
			<td class="ce10">210 824</td>
			<td class="ce10">141 908</td>
		</tr>
		<tr class="ro1">
			<td class="ce3"><p>Total des charges de fonctionnement = B</p></td>
			<td class="ce9">262 283</td>
			<td class="ce9">152 464</td>
			<td class="ce9">270 554</td>
		</tr>
		<tr class="ro1">
			<td style="text-align:left; " class="ce2"><p>Résultat comptable (A – B = R)</p></td>
			<td class="ce10">-117 999</td>
			<td class="ce10">58 360</td>
			<td class="ce10">-128 646</td>
		</tr>
		<tr class="ro1">
			<td class="ce4"><p>Total des ressources d’investissement = C</p></td>
			<td class="ce11">122 803</td>
			<td class="ce11">12 162</td>
			<td class="ce11">68 664</td>
		</tr>
		<tr class="ro1">
			<td class="ce5"><p>Total des dépenses d’investissement = D</p></td>
			<td class="ce12">114 886</td>
			<td class="ce12">33 284</td>
			<td class="ce12">20 950</td>
		</tr>
		<tr class="ro1">
			<td class="ce4"><p>Besoin ou capacité de financement de la section investissement = E</p></td>
			<td class="ce11"> </td>
			<td class="ce11">-47 713</td>
			<td class="ce11"> </td>
		</tr>
		<tr class="ro1">
			<td class="ce5"><p>Capacité d’autofinancement brut = CAF</p></td>
			<td class="ce12">-117 999</td>
			<td class="ce12">58 360</td>
			<td class="ce12">-128 646</td>
		</tr>
		<tr class="ro1">
			<td class="ce6"><p>Encours de la dette au 31/12/N-1</p></td>
			<td class="ce13">183 200</td>
			<td class="ce13">183 500</td>
			<td class="ce13">177 500 </td>
		</tr>
		<tr class="ro1">
			<td class="ce7"><p>Fond de roulement</p></td>
			<td class="ce14"> </td>
			<td class="ce14">128 464</td>
			<td class="ce14"> </td>
		</tr>
	</table>