<p><strong>Budget principal en euros</strong></p>

<table border="0" cellspacing="0" cellpadding="5px" class="ta1">
		{% include 'mairie/finances/_table_header.html.twig' %}
		{% set Report1 =  117999 %}
		{%	set Report2 = 128646 %}
		{% include 'mairie/finances/_fonctionnement.html.twig' with {
							Report1: Report1,
                            Report2: Report2,
                            A1: 144284, A2: 210824, A3: 141908,
							B1: 262283, B2: 152464, B3: 270554
                            } only %}
		{% set Report3 =  -7918 %}
		{%	set Report4 = -21120 %}
		{% include 'mairie/finances/_investissement.html.twig' with {
							Report1: Report3,
                            Report2: Report4,
							C1: "122 803", C2: "12 162", C3: "126 786",
							D1: "114 886", D2: "33 284", D3: "97 748",
							E2: "-47 713"
			} only %}
		<tr class="ro1">
			<td class="ce5"><p>Capacité d’autofinancement brut = CAF</p></td>
			<td class="ce12">{% set CAF1 =  -Report1 %} {{ CAF1 |number_format(0,'',' ')}}</td>
			<td class="ce12">58 360</td>
			<td class="ce12">{% set CAF2 =  -Report2 %} {{ CAF2 |number_format(0,'',' ')}}</td>
		</tr>
		{% include 'mairie/finances/_dette.html.twig' %}
		{% include 'mairie/finances/_roulement.html.twig' with {
							R2: Report2
			} only %}
	</table>