{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 400px; min-height: 20em; }
    
</style>

<h2 class="mt-4"> {{ titre }} </h2>
<hr>
<main class="example-wrapper">
    {% if not form.vars.valid %}
    <div class="alert alert-danger">
        Vous avez fait une erreur dans le remplissage du formulaire. 
        <br> Veuillez corriger s'il vous plait.
    </div>
    {% endif %}

   <div class="mt-4 mb-4 bg-light">
        
        {{ include ('/admin/user/_form.html.twig', {form: form, signup: false, button: 'Enregistrer'}) }}
   </div>
</main>
{% endblock %}