{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; min-height: 300px; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container {margin: 200px;}
</style>

    <div class="container mt-4">
        {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, 'security')}}
        </div>
        {% endif %}
        <div class="offset-md-4 col-md-4">
            <form action="{{ path('login')}}" method="POST">
                <div class="group-form">
                    <label for="utilisateur">Nom d'utilisateur</label>
                    <input type="text" name="_username" id="username" class="form-control" value="{{ last_username }}">
                </div>
                <div class="group-form">
                    <label for="utilisateur">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>    
            </form>
        </div>
    </div>
    {% endblock %}