{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .gros-titre { margin: 1em auto; font: 18px/1.5 Cursive Comic Verdana sans-serif; background-image:url("/images/site-pagny.jpg");background-size:cover}
</style>

<main>
    <div class="container gros-titre">
    <h1 class="text-white"> Bienvenue sur le site de </h1> 
    <h1 class="text-white"> Pagny la Blanche Côte </h1>

    </div>
    <h4> Une réserve naturelle régionale </h4>
    <p> Le village de Pagny la Blanche Côte se situe dans le sud du département de la Meuse et compte une population stable de 240 habitants qui vivent dans un cadre privilégié. </p>
    <p>    Sa côte en forme d'arc-en-ciel est un site qui ravit les botanistes par la diversité de sa faune et sa flore.
        Et les passionnés de parapente y viennent très nombreux au printemps et en automne pour s'élancer depuis ses pentes abruptes et admirer 
        la vallée de la Meuse.
    </p>
    
  {#  <p> <a href="http://www.nancyvollibre.com/sites-de-vol/pagny-la-blanche-cote"> Nancy Vol Libre </a></p> #}
    
    {% include '/home/clicsrapides.html.twig' %}
</main>
{% endblock %}
