{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1100px; width: 95%; font: 18px/1.5 Cursive Comic Verdana sans-serif; background-image:url("/images/site-pagny.jpg")}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<main>
    <div class="container example-wrapper">
    <h1 class="text-white"> Bienvenue sur le site de </h1> 
    <h1 class="text-white"> Pagny la Blanche Côte </h1>

    {# img src="/images/site-pagny.jpg" width="98%"/> #}
    </div>
    <h4> Un site naturel classé en Europe </h4>
    <p> Le village de Pagny la Blanche Côte se situe dans le sud du département de la Meuse et compte une population stable de 240 habitants qui vivent dans un cadre privilégié. </p>
    <p>    Sa côte en forme d'arc-en-ciel est un site qui ravit les botanistes par la diversité de sa faune et sa flore.
        Et les passionnés de parapente y viennent très nombreux au printemps et en automne pour s'élancer depuis ses pentes abruptes et admirer 
        la vallée de la Meuse.
    </p>
    
  {#  <p> <a href="http://www.nancyvollibre.com/sites-de-vol/pagny-la-blanche-cote"> Nancy Vol Libre </a></p> #}
    
    {% include '/home/clicsrapides.html.twig' %}
</main>
{% endblock %}
