{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .gros-titre { 
    background-image:url("/images/site-pagny.jpg");
    background-size:cover
    }
    .example-wrapper {
        text-align: center;
    }
    {#
    .banner { display:none;}
    #}

</style>
<main class="home-page">
    
    {% include 'flashes.html.twig' %}
    <section class="bg-light">	
      {# <legend> Les dernières actu' </legend> #}
      <div class="mt-2 mx-1 row">
               
        {% for event in events %}
        <div class="col-xsm-9 col-sm-6 col-md-4 col-lg-3 col-xlg-2">
            {% include 'evenement/_evenement.html.twig' with {
                evenement: event,
                start_content: true
                } only %}
        </div>
        {% endfor %}
              
      </div>
      
    </section>      
    <div class="gros-titre">
        <h1 class="text-white"> Bienvenue sur le site de </h1> 
        <h1 class="text-white"> Pagny la Blanche Côte </h1>

    </div>
    <h4> Une réserve naturelle régionale </h4>
    <p> Le village de Pagny la Blanche Côte se situe dans le sud du département de la Meuse et compte une population stable de 240 habitants qui vivent dans un cadre privilégié à 35 minutes de l'entrée de Nancy.</p>
    {# <p>    Sa côte en forme d'arc-en-ciel est un site qui ravit les botanistes par la diversité de sa faune et sa flore.
        Et les passionnés de parapente y viennent très nombreux au printemps et en automne pour s'élancer depuis ses pentes abruptes et admirer 
        la vallée de la Meuse.
    </p>
    
  #}
    
    {% include '/home/clicsrapides.html.twig' %}
</main>
<script>
  if (typeof navigator.serviceWorker !== 'undefined') {
    navigator.serviceWorker.register('service-worker.js')
  }
</script>
{% endblock %}
