
###> symfony/framework-bundle ###
/.composer.lock
/.symfony.lock
/.env.local
/.env.local.php
/.env.*.local
/.env
/config/prod/
/public/bundles/
/public/images/evenements/
/src/Migrations/
/var/
/vendor/
/translations/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
