{% extends 'base.html.twig' %}

{% block title %}Enregistrer un utilisateur{% endblock %}

{% block body %}
<style>
    .example-wrapper {  font: 14px/1.5 sans-serif; }
</style>
<h3 class="text-center">Enregistrer un utilisateur</h3>
<hr>
<main class="example-wrapper page-registration mt-4">
    
     <div class="row container">
        {{ include ('/registration/_form.html.twig', {form: registrationForm, button: 'Créer'}) }}
    </div>
</main>
{% endblock %}
