{% extends 'base.html.twig' %}

{% block title %}Enregistrer un administrateur{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; min-height: 300px; font: 18px/1.5 sans-serif; }
    .container {margin: 100px;}
</style>
<div class="container mt-4">
    <h1 class="h3 mb-4 font-weight-normal">Enregistrer un administrateur</h1>
     <div class="offset-md-4 col-md-4">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button class="btn btn-primary">Enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
