.container {
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;;
}


.example-wrapper {
    width:100%;
}

@media screen and (max-width: 960px) {
    .container {
        width: auto;
    }
    body.container-fluid {
        margin:0;
        padding-left: 0;
        padding-right: 0;
    }

    footer.container-fluid {
        margin-bottom: 5px;
    }
    h2 {
        margin-top: 0.7em;
    }

    h3 {
        margin-top: 0.7em;
        padding-top: 0.7em;
    }
    h4 {
        margin-top: 0.7em;
    }

    .carte-img {
        width: 85%
    }
}

@media screen and (max-width: 800px) {
    .gros-titre {
        margin: 0.7em auto; 
    }

    h1 {
        font-size: 32px;
        padding-top: 0.5em;
        padding-bottom: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.1em;
    }

    .banner {
        display: none;
    }
    
    aside p img {
        width:100%;
    }

    footer.container {
        margin: 0;
    }

    .optionnel {
        display: none;
    }
    
}
@media screen and (max-device-width : 768px) {
    
    h2 {
        margin-top: 0.5em;
    }

    h3 {
        margin-top: 0.5em;
        padding-top: 0.5em;
    }

    .carte-img {
        display: none;
    }
}

@media screen and (max-device-width: 480px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.2em;
    }
    
    h6 {
        font-size: 1em;
        font-weight: bold ;
    }
    
    .element-grille-normale {
        font: 11px/1.5 ; 
    }
    
    .element-grille-aggrandi {
        font: 12px/1.5 ;
    }
    
    .element-grille-evenement {
        font: 13px/1.5 ;
    }

}




