.container {
    width: 960px;
    /* margin-right: 0;
    margin-left: 0;
    */
    padding-left: 10px;
    padding-right: 10px;;
}
@media screen and (max-width: 960px) {
    .container {
        width: auto;
    }
    
}

@media screen and (max-width: 800px) {
    .gros-titre {
        margin: 0.7em auto; 
    }

    h1 {
        font-size: 32px;
        padding-top: 0.5em;
        padding-bottom: 2em;
    }

    h2 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.3em;
    }

    .banner {
        display: none;
    }
}
/*
@media screen and (max-width: 846px) {
    .container {
        width: 830px;
    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 740px;
    }
}

@media screen and (max-width: 660px) {
    .container {
        width: 640px;
    }
}
*/



.example-wrapper {
    width:100%;
}

.container-fluid {
    margin:0;
    padding-right: 0;
}