h1 {
    text-align: center;
    font-size: 48px;
    padding-top: 0.5em;
    padding-bottom: 3em;
}

h2 {
    margin-top : 1em;
    text-align: center;
}

hr{ 
    height: 3px;
    color: yellow;
    background-color: yellow;
    width: 10%;
    border: none;
    margin-top: 0;
    padding-top:0;
  }


h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


p {
    text-align: justify;
}

textarea
{
 resize : height;
 min-height : 150px;
 max-height : 100%;
}

footer p {
    margin: 1em;
    padding: 1em;
    text-align: center;
    border-top: 1px solid navy;
}
 aside {
    /* border-left: 2px solid black; */
    font-size : 14px;
 }

.card-header {
    background-color: aqua;
    /* display: flex; */
}

.card-header element {
    /* align-content: stretch; */
}

.card-body element {
    text-align: right;
}


.example-wrapper { 
    margin: 1em auto; font: 14px/1.5 ; 
}

.example-wrapper code { 
    background: #F5F5F5; padding: 2px 6px; 
}

.vich-image {
    width:70%;
}
.custom_file_label {
    width:1%;
}

