h1 {
    text-align: center;
    font-size: 48px;
    padding-top: 100px;
    padding-bottom: 110px;
    /* text-transform: uppercase; */
}

h2 {
    text-align: center;
}
p {
    text-align: justify;
}

footer p {
    margin: 1em;
    padding: 1em;
    text-align: center;
    border-top: 1px solid navy;
}
 aside {
    /* border-left: 2px solid black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.card-header {
    background-color: aqua;
    /* display: flex; */
}

.card-header element {
    /* align-content: stretch; */
}

.card-body element {
    text-align: right;
}