







<div class="thumb" style="margin-bottom:20px;">
						<img src="http://www.mirecourt.fr/wp-content/uploads/la_ville_de_mirecourt/demarches_administratives/urbanisme.jpg" class="attachment-700x400 size-700x400 wp-post-image" alt="" srcset="http://www.mirecourt.fr/wp-content/uploads/la_ville_de_mirecourt/demarches_administratives/urbanisme.jpg 766w, http://www.mirecourt.fr/wp-content/uploads/la_ville_de_mirecourt/demarches_administratives/urbanisme-250x166.jpg 250w, http://www.mirecourt.fr/wp-content/uploads/la_ville_de_mirecourt/demarches_administratives/urbanisme-700x465.jpg 700w, http://www.mirecourt.fr/wp-content/uploads/la_ville_de_mirecourt/demarches_administratives/urbanisme-120x80.jpg 120w, http://www.mirecourt.fr/wp-content/uploads/la_ville_de_mirecourt/demarches_administratives/urbanisme-272x182.jpg 272w" sizes="(max-width: 602px) 100vw, 602px" />					</a>
				</div>
				
				<h4>Règlements, permis de construire, autorisations d’urbanisme, projets, plans &#8230;<br>Retrouvez l’ensemble de ces services dédiés à l&rsquo;urbanisme.</h4>
<table style="border-collapse: collapse; width: 100%; height: 175px;" border="1">
<tbody>
<tr style="height: 24px;">
<td style="width: 90.0806%; text-align: center; height: 24px;" colspan="3"><span style="font-size: 18pt;"><strong>Plan Local Urbanisme (PLU)</strong></span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 33%; text-align: center; height: 62px;"><img class="alignnone wp-image-758" src="http://www.mirecourt.fr/wp-content/uploads/pdf_icon_64px.png" alt="" width="34" height="44"><br><a href="http://www.mirecourt.fr/wp-content/uploads/cadre_de_vie_et_environnement/03-RGMT-mirecourt.pdf" target="_blank" rel="noopener noreferrer">Règlement</a></td>
<td style="width: 29.4282%; text-align: center; height: 62px;">&nbsp;</td>
<td style="width: 29.4782%; text-align: center; height: 62px;">&nbsp;</td>
</tr>
<tr style="height: 24px;">
<td style="width: 33%; height: 24px; text-align: center;">Moitié<strong> EST&nbsp;</strong>de la commune<img class="wp-image-758 aligncenter" src="http://www.mirecourt.fr/wp-content/uploads/pdf_icon_64px.png" alt="" width="34" height="44"><a href="http://www.mirecourt.fr/wp-content/uploads/cadre_de_vie_et_environnement/4a-PZ-Mirecourt-5000-1.pdf" target="_blank" rel="noopener noreferrer">Plan A 1/5000 (2,71Mo)</a></td>
<td style="width: 29.4282%; height: 24px; text-align: center;">Moitié <strong>OUEST</strong> de la commune<img class="wp-image-758 aligncenter" src="http://www.mirecourt.fr/wp-content/uploads/pdf_icon_64px.png" alt="" width="34" height="44"><a href="http://www.mirecourt.fr/wp-content/uploads/cadre_de_vie_et_environnement/4b-PZ-Mirecourt-5000-2.pdf" target="_blank" rel="noopener noreferrer">Plan B 1/5000 (1,27Mo)</a></td>
<td style="width: 29.4782%; height: 24px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 24px;">
<td style="width: 33%; height: 65px; text-align: center;">Secteur <strong>NORD</strong><img class="wp-image-758 aligncenter" src="http://www.mirecourt.fr/wp-content/uploads/pdf_icon_64px.png" alt="" width="34" height="44"><a href="http://www.mirecourt.fr/wp-content/uploads/cadre_de_vie_et_environnement/5a-PZ-Mirecourt-2000-1.pdf">Plan A 1/2000 (2,19Mo)</a></td>
<td style="width: 29.4282%; height: 65px; text-align: center;">Secteur <strong>SUD</strong><img class="wp-image-758 aligncenter" src="http://www.mirecourt.fr/wp-content/uploads/pdf_icon_64px.png" alt="" width="34" height="44"><a href="http://www.mirecourt.fr/wp-content/uploads/cadre_de_vie_et_environnement/5b-PZ-Mirecourt-2000-2.pdf" target="_blank" rel="noopener noreferrer">Plan B 1/2000 (1,36Mo)</a></td>
<td style="width: 29.4782%; height: 65px; text-align: center;">Secteur <strong>OUEST</strong><img class="wp-image-758 aligncenter" src="http://www.mirecourt.fr/wp-content/uploads/pdf_icon_64px.png" alt="" width="34" height="44"><a href="http://www.mirecourt.fr/wp-content/uploads/cadre_de_vie_et_environnement/5c-PZ-Mirecourt-2000-3.pdf" target="_blank" rel="noopener noreferrer">Plan C 1/2000 (1,87Mo)</a></td>
</tr>
</tbody>
</table>
<p></p>
<table style="border-collapse: collapse; width: 100.001%; height: 112px;" border="1">
<tbody>
<tr style="height: 24px;">
<td style="width: 90.0806%; text-align: center; height: 24px;" colspan="3"><span style="font-size: 18pt;"><strong>Site Patrimonial Remarquable (SPR)</strong></span></td>
</tr>
<tr style="height: 96px;">
<td style="width: 33%; text-align: center; height: 96px;"><img class="alignnone wp-image-758" src="http://www.mirecourt.fr/wp-content/uploads/pdf_icon_64px.png" alt="" width="34" height="44"><br><a href="http://www.mirecourt.fr/wp-content/uploads/cadre_de_vie_et_environnement/règlement SPR.pdf" target="_blank" rel="noopener noreferrer">Règlement</a></td>
<td style="width: 29.4282%; height: 96px; text-align: center;"><img class="alignnone wp-image-758" src="http://www.mirecourt.fr/wp-content/uploads/pdf_icon_64px.png" alt="" width="34" height="44"><br><a href="http://www.mirecourt.fr/wp-content/uploads/cadre_de_vie_et_environnement/SPR 1000.pdf" target="_blank" rel="noopener noreferrer">Plan 1/1000</a></td>
<td style="width: 29.4782%; text-align: center; height: 96px;"><img class="alignnone wp-image-758" src="http://www.mirecourt.fr/wp-content/uploads/pdf_icon_64px.png" alt="" width="34" height="44"><br><a href="http://www.mirecourt.fr/wp-content/uploads/cadre_de_vie_et_environnement/SPR 2000 (1).pdf" target="_blank" rel="noopener noreferrer" data-wplink-url-error="true">Plan 1/2000</a></td>
</tr>
</tbody>
</table>