<section>
    <h3>Repas des anciens</h3>

    <p> Chaque année, la mairie invite les retraités pour un repas convivial à la
    salle des fêtes. 
    Ce temps privilégié de retrouvailles collectives est très apprécié des ainés qui sortent mois. </p>

    <img class="center-block" src ="/images/animations/repas-anciens2.jpg" Alt="Photo2 repas des anciens" width="100%"> 
</section>