<section class="mt-4 pt-4">
    <h3>Musique classique</h3>

    <p> Intiative lancée initialement par l'Association St-Grégoire pour la rénovation de l'Eglise 
    du même nom, le concert de musique et chant classiques est devenu une tradition de l'été.
    Une violoniste du conservatoire de Grenoble ayant adopté Pagny la Blanche Côte comme lieu de résidence secondaire y attire
    en effet chaque année une équipe de musiciens et chantres solistes professionnels
    pour faire découvrir un répertoire toujours renouvelé d'oeuvres classiques.

    Ce concert a acquis une renommée dans les environs qui fait que l'Eglise est pleine à chaque rendez-vous de Juillet.
    .</p>
    <hr>
    <h3>Ecole de musique</h3>
    <p> L'école de musique de Vaucouleurs fait l'honneur d'une représentation des musiciens en herbe 
    chaque année en Juin qui donne un air de raffraichissement au village.</p>
    <img class="center-block" src ="/images/animations/concert-ecole-musique.jpg" Alt="Photo Concert Ecole de musique" height="300"> 
</section>