<section class="mt-4 pt-4">
    <h3>Fête Patronale</h3>

    <p> La fête du village a lieu chaque année le premier dimanche de Mai. 
    Une messe est célébrée à l'occasion en l'Eglise St-Grégoire. 
    Et des animations foraines sont installées sur la place en bas du village.
    C'est l'occasion de retrouvailles familiales et de moments de détentes et
    partages pour petits et grands.</p>
    <hr>
    <h3>Fête du 14 Juillet</h3>
    <p> A l'occasion de la fête de la révolution française, un repas festif est organisé 
    le 13 Juillet au soir sur le terrain de sport ou à l'île du moulin selon les années.
    Il est suivi d'un feu d'artifice qui attire les habitants des autres villages
    autant que les résidents.</p>
    <img class="center-block" src ="/images/animations/13Juillet.jpg" Alt="Photo 13 Juillet" height="300"> 
</section>