{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { align: justify}
</style>

<div class="row">
    <main class="example-wrapper col-12 col-md-7">
        <h2>{{ titre }} </h2>
        <hr>
        Le cadre naturel et la proximité des côtes se prêtent à des promenades à pied ou en VTT pour respirer le grand air admirer le paysage.
        <p> Certains préfèreront le vélo au bord de la meuse tandis que d'autres voudront s'envoler dans les airs pour bénéficier
        de la vue imprenable sur les côtes et la plaine.<p>
        <div> <img src ="/images/cote/sentierbalise.jpg" Alt="Photo sentier sur la côte" height="300" width="100%"> <small>Ballade sur la côte</small> </img> </div>
        
        <br>
        <p>Les pécheurs trouveront leur bonheur au bord de la rivière, en toute tranquilité.</p>
        <p>Données sur <a href="/documents/La-Meuse-a-Pagny-la-Blanche-Cote.pdf">La pêche à Pagny la Blanche Côte</a></p>

    </main>
    <aside class="col-12 col-md-5">
        <div class="container-fluid">
            <div class="text-center">
                
                <div class="mt-4"> <img src ="/images/site-pagny.jpg" Alt="Photo Parapentes" height="300px" width="400px"> Parapentes sur la côte </img> </div>
                <div class="mt-4"> <img src ="/images/cote/SentierTeteDesRousseaux.jpg" Alt="Photo sentier tête des Rousseaux" height="300" width="400px"> Sentier depuis la tête des Rousseaux </img> </div>
                <br>
                <p><strong> Liens : </strong></p>
                <p>Faire du parapente : <a href="http://www.nancyvollibre.com/sites-de-vol/pagny-la-blanche-cote">Nancy Vol Libre</a></p>
                <p>Des idées de randonnées : <a href="https://www.lepiedchampetre.fr/nos-circuits/">Le pied champêtre de Vaucouleurs</a></p>
                {% include '/animationetloisirs/menurubrique.html.twig' %} </div>
            </div>
        </div>
    </aside>
</div>
{% endblock %}