{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { align: justify}
</style>

<div class="row">
    <main class="example-wrapper container-fluid col-md-8">
        <h2>{{ titre }} </h2>
        <hr>
        {% include '/animationetloisirs/fetes.html.twig' %}
        
    </main>
</div>
{% endblock %}