{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; font: 14px/1.5 sans-serif; align: justify}
</style>

<div class="row container">
    <main class="example-wrapper col-md-8">
        <h2>{{ titre }} </h2>
        <hr>
        {% include '/animationetloisirs/videgreniers.html.twig' %}
        

    </main>
    <aside class="col-md-4">
        <div class="container-fluid"> 
            <img class="center-block" src ="/images/animations/vide-greniers.jpg" Alt="Photo Vide-Greniers" height="300" width="350"/>
            <hr>
            {% include '/animationetloisirs/menurubrique.html.twig' %}
        </div>

    </aside>
</div>
{% endblock %}