{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { align: justify}
</style>

<h2>{{ titre }} </h2>
<hr>
<div class="row">
    <main class="example-wrapper col-md-7">
        
        {% include '/animationetloisirs/concerts.html.twig' %}
    </main>
    <aside class="col-md-5 mt-4">
        <div class="container-fluid"> 
            <div class="text-center">
                <img class="bords-arrondis optionnel" src ="{{'/images/animations/concert-eglise-pagny1.jpg'| imagine_filter('medium')}}" Alt="Photo Concert Eglise" width="100%" />
                <img class= "bords-arrondis mt-4" src ="{{'/images/animations/concert-ecole-musique1.jpg'| imagine_filter('medium')}}" Alt="Photo concert école musique" width="100%" />
            </div>
        </div>

    </aside>
</div>
{% endblock %}