{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { align: justify}
</style>

<div class="row container">
    <main class="example-wrapper container-fluid col-md-8">
        <h2>{{ titre }} </h2>
        <hr>
        {% include '/animationetloisirs/fetes.html.twig' %}
        

    </main>
    <aside class="col-md-4">
        <div class="container-fluid"> 
            <div class="text-center">
                <img src ="/images/animations/13Juillet1.jpg" Alt="Photo Fête nationale" height="300" />
                {% include '/animationetloisirs/menurubrique.html.twig' %}
            </div>
        </div>
    </aside>
</div>
{% endblock %}