<section class="mt-4 pt-4">

    <p> A l'initiative de l'association "l'île aux enfants", un vide-grenier est organisé
    chaque année en Août depuis 2013. 
    L'ambiance est festive et les anciens habitants de Pagny prennent plaisir à revenir arpenter les rues de leurs racines 
    et rencontrer par la même occasion des amis ou connaissances perdues de vue.
    C'est aussi l'occasion pour les résidents qui le souhaitent de libérer un peu d'espace dans leur garage ou grenier en faisant des
    heureux parmi les dénicheurs d'antiquités ou plus simplement d'enfants en quête de jeux à des prix défiant toute concurrence.</p>

    <img class="center-block" src ="/images/animations/brocante.jpg" Alt="Photo2 Vide-Greniers" height="300"> 
</section>