
<div class="card mb-4 
        {% if (evenement.typeEvenement(evenement.type) == 'Hommage') %}
             border-secondary
        {% elseif (evenement.typeEvenement(evenement.type) == 'Naissance') %}
            border-success
        {% elseif (evenement.typeEvenement(evenement.type) == 'Fête') %}
            border-warning
        {% elseif (evenement.typeEvenement(evenement.type) == 'Mariage') %}
            border-info
        {% elseif (evenement.typeEvenement(evenement.type) == 'Commémoration') %}
            border-lignt
        {% elseif (evenement.typeEvenement(evenement.type) == 'Vide-Greniers') %}
            border-warning
        {% elseif (evenement.typeEvenement(evenement.type) == 'Concert') %}
            border-warning
        {% elseif (evenement.typeEvenement(evenement.type) == 'Animation') %}
            border-primary
        {% elseif (evenement.typeEvenement(evenement.type) == 'Repas') %}
            border-primary
        {% elseif (evenement.typeEvenement(evenement.type) == 'Ile aux Enfants') %}
            border-success
        {% elseif (evenement.typeEvenement(evenement.type) == 'Sport') %}
            border-success
        {% elseif (evenement.typeEvenement(evenement.type) == 'Flash-Info') %}
            border-danger
        {% endif %}">
    <div class="card-body">
        <h5 class="card-title"> 
            <a href="{{ path('evenement.show', {slug: evenement.slug, id: evenement.id}) }}">
                {{ evenement.typeEvenement(evenement.type) }} 
            </a>
        </h5>
        <p class="card-text" style="font-weight: bold;"> {{ evenement.titre }} </p>
                    
        <p class="card-text"> Le {{ evenement.date | date ("d/m/Y") }} </p>            
    </div>
</div>
