{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .banner { display:none;}
</style>

<main class="example-wrapper">
    <h2> {{ titre }} </h2>
    <hr>
    <img src="/images/cote/CoteArcDeCercleEtVillage.jpg" width="100%"/>


    <br>
    <p class="mt-4">  Le site de Pagny la Blanche Côte, en forme d'arc-en-ciel, se répartit sur deux côtes de part et d'autre du village, qui abritent une faune et une flore exceptionnelles. 
    </p>
    <p> Les éboulis de couleur blanche présents sur la côte sont très probablement à l'origine du nom du village. 
        Ils sont dûs au sol calcaire de la région et les moutons qui s'y promenaient autrefois empêchaient la végétation de se fixer sur la pente.
        Depuis quelques décennies, la pente est progressivement colonisée par des végétaux. 
        En tout cas cette pelouse très sèche avec ses plages de petites plaquettes calcaires est tout à fait singulière.
    </p>
    <p>
    Il n'en reste pas moins que les étendues d’éboulis mobiles de ce site en font un joyau du patrimoine naturel dans le nord-est de la France grâce aux habitats qui s’y expriment. 
    </p>
    
    <section class="row container mb-4">
        <div class="col-md-3"><img src="/images/cote/fleur.jpg" width="100%"/>
        </div>
        <div class="col-md-3"><img src="/images/cote/fleur2.jpg" width="100%"/>
        </div>
        <div class="col-md-6">
            <p> Géré par le CEN Lorraine depuis 1997, les deux côtes calcaires d’une vingtaine d’hectares chacune abritent des espèces rares et protégées, telles que l’Ibéris de Viollet, le Trèfle scabre et des pelouses à Seslérie. 
            </p>
        </div>
    </section>
    <p>
    Il accueille également une faune très diversifiée avec de remarquables peuplements d’Insectes et autres invertébrés.
    </p>
 

    <p>Divers enjeux de gestion sont à prendre en compte dans cette réserve naturelle, parmi lesquels on peut citer le contrôle des habitats et espèces d’intérêt prioritaire, et la remobilisation des éboulis.
    ce qui a conduit le Conservatoire des Espaces Naturels de Lorraine et la région Grand-Est 
    à la classer Réserve Naturelle Régionale.
        
    </p>
   
    <p> Les documents officiels sur le sujet : </p>
    <ul>
        <li> <a href="/documents/note-synthetique-rnr-pbc-2.pdf"> Synthèse du projet de classement en RNR </a> </li>
        <li> <a href="/documents/dossier-rnr-pbc-2.pdf"> Dossier de classement RNR </a> </li>
        <li> <a href="/documents/Avis_2014-110_RNR__Pagny_Blanch_Cote.pdf"> Avis de classement en RNR 2014 </a> </li>
        <li> <a href="/documents/avis2019-44_rnr_pagnybc.pdf"> Avis de classement en RNR 2019 </a> </li>
    </ul>
</main>
<aside class="row container">
    <div class="col-md-4">
        <img src="/images/cote/explorationcotepagny.jpg" width="100%"/>Visite de botanistes
    </div>

    <div class="col-md-4"><img class="aggrandir" src="/images/cote/PanneauSitesNaturels.jpg" width="100%"/>Panneau explicatif - site de la tête des Rousseaux
    </div>
    <div class="col-md-4"><img src="/images/cote/tetedesrousseaux.jpg" width="100%"/>La tête des Rousseaux
    </div>

</aside>
{% endblock %}
