<section>
    <p>Au printemps 2013, les parents des enfants du village se sont concertés pour répondre qu besoin d'attractivité 
    des plus jeunes. <br>En effet, depuis plusieurs années, la population des moins de 14 ans a fortement augmenté à Pagny, à la faveur de l'installation
    de jeunes couples dans le village.</p>
    <p>Pour s'organiser au mieux, ils décidèrent de créer une association et c'est ainsi qu'est née "l'île aux enfants";
    </p>
    <p>Après les démarches administratives, le temps des premières réalisations est venu.
    La principale de cette année là a été le <a href="{{ path('videgreniers') }}">vide-greniers</a> de l'été. Ce fut un grand succès, avec la participation
    des habitants en tant qu'exposants, renforcée par celle des professionnels. 
    </p>
    <p>En dehors de cette manifestation estivale importante, l'association a également mis en place
    un calendrier de festivités : les oeufs de Pâques au printemps, le défilé pour Haloween à l'automne,
    et l'arbre de Noël avec distribution de cadeaux par le père Noël pour la <a href="{{ path('jeunesse') }}">jeunesse</a>
    de Pagny.

    </p>
    <div class="container-fluid"> <img class="center-block" src ="/images/animations/ileauxenfants1.jpg" Alt="Photo Noel enfants" width="100%"> </div>
</section>