{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<div class="row">
    <main class="example-wrapper col-md-8">
        <h2>{{ titre }} </h2>
        <hr>
        {% include '/jeunesse/ileauxenfants.html.twig' %}

    </main>
    <aside class="col-md-4">
        <div class="container-fluid"> <img class="center-block" src ="/images/animations/ileauxenfants.jpg" Alt="Photo Ile aux enfants" width="100%"> Pâques </img> </div>
        
        <div class="container-fluid mt-4 optionnel"> <img class="center-block" src ="/images/animations/noel-enfants.jpg" Alt="Photo Noel enfants" width="100%"/> Noël </div>
        <div class="text-center">{% include '/mairie/menuassociations.html.twig' %}</div>    
    </aside>
</div>
{% endblock %}