{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<div class="row container">
    <main class="example-wrapper col-md-8">
        <h2>{{ titre }} </h2>
        <hr>
        {% include '/jeunesse/ileauxenfants.html.twig' %}
        

    </main>
    <aside class="col-md-4">
        <div class="container-fluid"> <img class="center-block" src ="/images/animations/ileauxenfants.jpg" Alt="Photo Ile aux enfants" height="300"> Pâques </img> </div>
        
        <div class="container-fluid"> <img class="center-block" src ="/images/animations/noel-enfants.jpg" Alt="Photo Noel enfants" height="300" /> Noël </div>
        <div class="container-fluid">{% include '/mairie/menuassociations.html.twig' %}</div>    
        <div class="container-fluid">{% include '/animationetloisirs/menurubrique.html.twig' %}</div>    
    </aside>
</div>
{% endblock %}