<section>
    <h3>Espace jeux</h3>

    <p> Un espace jeu en plein air a été aménagé derrière la mairie pour les enfants de 3 à 8 ans
    Il est complété d'une salle couverte juste à côté pour les plus grands.
    </p>
    <img src="/images/batiments/salledesjeunes.jpg" Alt="Salle de jeunes" width="100%"/>
    <hr class="mt-4">
    <h4>Festivités</h4>
    <p> L'Association <a href="{{ path('ileauxenfants') }}">l'île aux enfants</a> organise chaque année une animation pour Pâques au printemps,
    Haloween en Automne et Noël où tous les enfants du village de 0 à 14 ans sont invités.
    </p>
</section>