<section>
     <h4> <img src="/images/viepratique/logoADMR.png" width="80" height="80">
     Aide à domicile </h4>
    
    <p> L'Association d'Aide à Domicile dans le Monde Rural 
    du canton de Vaucouleurs, propose des aides au ménage, au repassage, des livraisons de repas et de courses à domicile,
    des petits travaux de bricolage, la télé-assistance, les soins à domicile, l'hospitalisation à domicile.
    </p>
    
    <p> Renseignements et inscriptions auprès de l'ADMR au : <br>
    <img src="/images/iconetel.png" height="30" width="30"/>  03.29.89.27.36  ou
    <img src="/images/iconeadressemail.png" height="30" width="30"/>  vaucouleurs@fede55.admr.org  
    </p>
</section>