<section>
        <h4> <img src="/images/imageenseigneboulangerie.jpg" height="80"> La boulangerie </h4>
        <p>     L'Epi de blé, 14 rue de la Chapelle     </p>
            
        La boulangerie / pâtisserie est ouverte :
        <ul>
            <li> Du mardi au samedi de 7h30 à 13h00 et de 17h00 à 19h00</li>
            <li> Le dimanche de 7h30 à 13h00.</li>
        </ul>
        <p> <img src="/images/imagerelaisposte.jpg" height="40"> A la boulangerie vous pouvez :   </p>
        
        <ul>
            <li> y poster du courrier et des colis</li>
            <li> y effectuer des dépôts ou retraits à la banque postale.</li>
        </ul>
        Elle sert également d'épicerie et de dépôt de gaz.
</section>