<section class="pt-4">

        <h3> La boulangerie </h3>
        <p> <img src="/images/imageenseigneboulangerie.jpg" height="80">    L'Epi de blé, 14 rue de la Chapelle     
            <img src="/images/iconerelaisposte.jpg" height="80">   </p>
        La boulangerie / pâtisserie est ouverte :
        <ul>
            <li> Du mardi au samedi de 7h30 à 13h00 et de 17h00 à 19h00</li>
            <li> Le dimanche de 7h30 à 13h00</li>
        </ul>
        Vous pouvez : 
        <ul>
            <li> y poster du courrier et des colis</li>
            <li> y effectuer des dépôts ou retraits à la banque postale</li>
        </ul>
        Elle sert également d'épicerie et de dépôt de gaz
</section>