<section>
     <h4> <img src="/images/viepratique/busscolaire.png" width="80"/>
      Bus scolaires </h4>
    <p><strong>Horaires de passage</strong></p>
       Pour l'école maternelle et élémentaire de Maxey sur Vaise :
        <ul>
            <li> Lundi, mardi, jeudi, vendredi, départ : 8h00, retour : 16h30</li>
        </ul>
        Pour le Collège de Vaucouleurs :
        <ul> 
            <li> Lundi, mardi, jeudi, vendredi: Départ : 8h00, retour : 17h30</li>
            <li> Mercredi: Départ : 8h00,  retour : 12h</li>
</section>
        