<section>
    <h3> <img src="/images/viepratique/recyclage-vetements.jpg" width="160" height="160">
    Recyclage de vêtements</h3>
    <p>Un container est disposé dans la rue Voyard pour la collecte 
    des vêtements et chaussures usagés. Ces textiles et cuirs sont ramassés périodiquement
    et recyclés </p>
    
    <hr>
    <img src="/images/viepratique/recyclage2.jpg" width="700"/>
    <br>
    <hr>
    
    <h3> Collecte des ordures ménagères</h3>
    <div class="row container">
    <div class="col-md-6">
    <img src="/images/viepratique/ordures-sacs-jaunes.jpg" width="120" height="150"/>
    
    <img src="/images/viepratique/ordures-sacs-noirs.jpg" width="150" height="150"/>
    </div>
    <div class="col-md-6">
    La collecte des ordures ménagères, sacs jaunes et noirs, se fait chaque mercredi matin.</p>
    
    </div>
    </div>
    <br>
    <p> Ce que vous pouvez mettre dans les sacs jaunes :</p>
    <img src="/images/viepratique/recyclage.jpg" width="700"/>
</section>