<section>
    
    <img src="/images/viepratique/recyclage2.jpg" width="100%"/>
    <br>
    <br>
    <hr>
    <h4> Papiers, cartons 
    <br> Je les porte au conteneur cartons en bas du village</h4>
    <img src="/images/viepratique/bacs-cartons1.jpg" width="100%"/>
    <br>
    <hr>
    <br>
    <img src="/images/viepratique/flyer-composteur.jpg" width="100%"/>
    <br>
    <hr>
    <h4> Collecte des ordures ménagères</h4>
    <div class="row">
        <div class="col-sm-5 col-md-4">
            <img src="/images/viepratique/poubelle-jaune.jpg" width="100%" height="250"/>
    
        </div>
        <div class="col-sm-5 col-md-3 mt-auto">
            <img src="/images/viepratique/ordures-sacs-noirs.jpg" width="90%"/>
        </div>
        <div class="col-sm-6 col-md-4 mt-auto mb-auto">
        La collecte des ordures ménagères, bacs jaunes et sacs noirs, se fait le lundi matin toutes les deux semaines.</p>
            <a href="/documents/Calendrier-de-collecte-OM-2022.pdf"> Calendrier de collecte 2022 </a>
        </div>
    </div>
    <div class="row mt-4">
            <p class="alert alert-danger ml-4"> Ci-dessous les déchets interdits pour votre poubelle ! </p>
            <ul class="text-justify">

                <li class="mb-1"> <strong>Les piles, les batteries ou les ampoules : </strong>vous pouvez les recycler via des filières spécialisées. Il existe également de nombreux points de collecte dans les supermarchés.</li>

                <li class="mb-1"> <strong>Les médicaments périmés : </strong>ils doivent être rapportés en pharmacie, afin d’avoir l’assurance, qu’ils soient redirigés vers une filière de destruction spécialisée.</li>

                <li class="mb-1"> <strong>Les déchets d’équipements électroniques : </strong>il existe des filières dédiées pour ce type de déchet. Vous pouvez les ramener à un distributeur qui a l’obligation de récupérer votre vieil appareil. Vous pouvez également en faire don à une association, le déposer dans une déchetterie ou dans des points collectes prévus à cet effet. Certains opérateurs mobiles récupèrent en boutique votre ancien téléphone pour le reconditionner ou le donner à une association.</li>

                <li class="mb-1"> <strong>Les huiles alimentaires : </strong>elles peuvent être jetées dans votre poubelle ordinaire en petite quantité mais il est préférable de les déposer dans des points de collecte spécialisés.</li>

                <li class="mb-1"> <strong>Les huiles de moteurs et autres huiles de vidange : </strong>vous pouvez les jeter dans des points de collecte spécifiques, chez un garagiste ou dans des bacs de collecte dédiés.</li>

                <li class="mb-1"> <strong>Les pneus : </strong>ils doivent être ramenés chez un garagiste ou en déchetterie. N’hésitez pas à contacter, votre garagiste à l’avance pour être sûr qu’il reprend bien les anciens pneus.</li>
            </ul>

            <p> En déposant vos déchets au bon endroit, vous contribuez à la protection de l'environnement. Vous contribuez également au bon fonctionnement de vos installations municipales ainsi qu'à la sécurité des employés qui y travaillent.
            </p>
    </div>
    <br>
    <hr>
    
    <img src="/images/viepratique/Flyer-rappel-bac-jaune.jpg" width="100%"/>

</section>