<section>
    <h4> <img src="/images/viepratique/recyclage-vetements.jpg" height="80">
    Recyclage de vêtements</h4>
    <p>Un container est disposé dans la rue Voyard pour la collecte 
    des vêtements et chaussures usagés. Ces textiles et cuirs sont ramassés périodiquement
    et recyclés </p>
    
    <hr>
    <img src="/images/viepratique/recyclage2.jpg" width="100%"/>
    <br>
    <br>
    <hr>
    
    <h4> Collecte des ordures ménagères</h4>
    <div class="row">
        <div class="col-sm-6 col-md-5">
            <img src="/images/viepratique/ordures-sacs-jaunes.jpg" width="90" height="150"/>
    
            <img src="/images/viepratique/ordures-sacs-noirs.jpg" width="110" height="150"/>
        </div>
        <div class="col-sm-6 col-md-5 mt-auto mb-auto">
        La collecte des ordures ménagères, sacs jaunes et noirs, se fait chaque mercredi matin.</p>
    
        </div>
    </div>
    <br>
    <h5> Ce que vous pouvez mettre dans les sacs jaunes :</h5>
    <img src="/images/viepratique/recyclage.jpg" width="100%"/>
</section>