{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    h3 { margin-bottom: 1em;}
</style>
<div class="row container">
    <main class="example-wrapper col-md-8">   
    <h2> {{ titre }} </h2>
    <hr>
    {% include '/viepratique/boulangerie.html.twig' %}
    <br>
    <hr>
    {% include '/viepratique/busscolaires.html.twig' %}
    <hr>
    {% include '/viepratique/minibus.html.twig' %}
    <hr>
    {% include '/viepratique/portagerepas.html.twig' %}
    <hr>
    {% include '/viepratique/aidemenage.html.twig' %}
    </main>
     <aside class="col-md-4">
        <p><img src ="/images/viepratique/boulangerie.jpg" height="300"/> Boulangerie  </p>
        <p><img src = "/images/viepratique/abribus.jpg" height="300"/> Abri-bus </p>
        {% include '/viepratique/liensecoles.html.twig' %}
        <h5>Plus d'infos</h5><p> <a href="https://www.eterritoire.fr/territoires/grand-est/meuse/pagny-la-blanche-cote/55397/21582">eTerritoire : Vivre et s'installer à Pagny</a></p>
        {% include '/viepratique/menurubrique.html.twig' %}

    </aside>
</div>
{% endblock %}
