{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<div class="row">
    <main class="col-md-8">   
    <h2> {{ titre }} </h2>
    <hr>
    {% include '/viepratique/boulangerie.html.twig' %}
    <br>
    <hr>
    {% include '/viepratique/busscolaires.html.twig' %}
    {% include '/viepratique/liensecoles.html.twig' %}
    <hr>
    <h3 class="text-center"> Service aux ainés </h3>
    {% include '/viepratique/minibus.html.twig' %}
    <hr>
    {% include '/viepratique/portagerepas.html.twig' %}
    <hr>
    {% include '/viepratique/aidemenage.html.twig' %}
    <hr>
    <h3 class="text-center"> Collecte des ordures </h3>
    {% include '/viepratique/collecteordures.html.twig' %}
    <hr>
    <h5>Plus d'infos</h5><p> <a href="https://www.eterritoire.fr/territoires/grand-est/meuse/pagny-la-blanche-cote/55397/21582">eTerritoire : Vivre et s'installer à Pagny</a></h6>
    </main>
    <aside class="col-md-4 mt-4 pt-4">
        <p class="optionnel mt-4 pt-4"><img src ="/images/viepratique/boulangerie.jpg" width="100%"/> Boulangerie  </p>
        <p class="optionnel mt-4"><img src = "/images/viepratique/abribus.jpg" width="100%"/> Abri-bus </p>
    </aside>
</div>
{% endblock %}
