<h5> Liens vers les écoles </h5>
    <ul>
        <li> <a href="https://www.education.gouv.fr/annuaire/55-meuse/maxey-sur-vaise/etab/ecole-primaire-publique-des-sources-de-la-vaise.html"> Ecole primaire des sources de la Vaise</a></li>
        <li> <a href="http://www.villevaucouleurs.com/ecoles-et-colleges_fr.html"> Collège les Cuvelles de Vaucouleurs </a> </li>
        <li> <a href="https://lyceehenrivogt.fr">Lycée Henry Vogt Commercy</a> </li>
    </ul>