<section class="text-center">
    <h5> Menu Vie Pratique</h5>
    <div>
               {# <div><a href="{{ path('viepratique') }}">Boulangerie et relais Poste</a></div> #}
                <div><a href="{{ path('scolaire') }}">Bus scolaires et Ecoles</a></div>
                <div><a href="{{ path('serviceaines') }}">Services aux Ainés</a></div>
                <div><a href="{{ path('ordures') }}">Collecte des ordures </a></div>
    </div>
</section>