<section>
     <h4> <img src="/images/viepratique/minibus.jpg" width="100" height="90">
     Minibus pour les ainés </h4>
    
    <p> Dans le cadre de l'Instance Locale de Coordination Gérontologique (ILCG) 
    du canton de Vaucouleurs, un minibus dessert les villes de Neufchâteau, Toul et Commercy
    le jeudi après-midi selon les inscriptions. Il dessert aussi la ville de Vaucouleurs le samedi matin selon les inscriptions.</p>
    <p> Il faut s'inscrire auprès de l'ICLG au 03.29.89.27.32    </p>
</section>