<section>
     <h3> <img src="/images/viepratique/repas.jpeg" width="160" height="160">
     Portage de repas </h3>
    
    <p> Dans le cadre de l'Instance Locale de Coordination Gérontologique (ILCG) 
    du canton de Vaucouleurs, il est possible de se faire livrer des repas à domicile.
    </p>
    <h5> Un service FACILE et PRATIQUE </h5>
    <p> Renseignements et inscriptions auprès de l'ILCG au 
    <img src="/images/iconetel.png" height="30" width="30"/>  03.29.89.27.32  ou
    <img src="/images/iconeadressemail.png" height="30" width="30"/>  ilcgduvaldescouleurs@orange.fr  </p>
</section>