<section>
     <h4> <img src="/images/viepratique/petit-dejeuner.png" width="80" height="80">
     Portage de repas </h4>
    
    <p> Dans le cadre de l'Instance Locale de Coordination Gérontologique (ILCG) 
    du canton de Vaucouleurs, il est possible de se faire livrer des repas à domicile.
    </p>
    <h6> Un service FACILE et PRATIQUE </h6>
    <p> Renseignements et inscriptions auprès de l'ILCG au : <br>
    <i class="fa fa-phone"/> </i>  03.29.89.27.32  ou
    <span class="ml-2"><i class="fa-solid fa-at"> </i>  ilcgduvaldescouleurs@orange.fr  </span>
    </p>
</section>