<section>
     <h4> <img src="/images/viepratique/repas.jpeg" width="80" height="80">
     Portage de repas </h4>
    
    <p> Dans le cadre de l'Instance Locale de Coordination Gérontologique (ILCG) 
    du canton de Vaucouleurs, il est possible de se faire livrer des repas à domicile.
    </p>
    <h6> Un service FACILE et PRATIQUE </h6>
    <p> Renseignements et inscriptions auprès de l'ILCG au : <br>
    <img src="/images/iconetel.png" height="30" width="30"/>  03.29.89.27.32  ou
    <img src="/images/iconeadressemail.png" height="30" width="30"/>  ilcgduvaldescouleurs@orange.fr  
    </p>
</section>