{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    h2 { font-family: 'Comic Sans MS'; margin-bottom: 1em}
</style>
<div class="row container">
    <main class="example-wrapper col-md-8">

    <section class="section">
    <h2> {{ titre }} </h2>
    <p> <img src="/images/iconeadresse.jpg" height="80">7, rue des Halles <span margin="20">     55140 Pagny la Blanche Côte </img> </p>

    La marie est ouverte :
    <ul>
        <li> Le lundi de 10h30 à 12h30</li>
        <li> Le jeudi de 10h30 à 12h30 </li>
    </ul>
    </section>
   <br>
    <section class="section pt-4">

        <h2> Horaires de la boulangerie </h2>
        <p> <img src="/images/imageenseigneboulangerie.jpg" height="80">    L'Epi de blé, 14 rue de la Chapelle     <img src="/images/imageRelaisPoste1.jpg" height="80">   </p>
        La boulangerie / pâtisserie est ouverte :
        <ul>
            <li> Du mardi au samedi de 7h30 à 13h00 et de 17h00 à 19h00</li>
            <li> Le dimanche de 7h30 à 13h00</li>
        </ul>
        Vous pouvez : 
        <ul>
            <li> y poster du courrier et des colis</li>
            <li> y effectuer des dépôts ou retraits à la banque postale</li>
        </ul>
        Elle sert également d'épicerie et de dépôt de gaz
    </section>
    <br>
    <section>
     <h2> Horaires de passage des bus scolaires </h2>
    
       Pour l'école maternelle et élémentaire de Maxey sur Vaise :
        <ul>
            <li> Lundi, mardi, jeudi, vendredi, départ : 8h00, retour : 16h30</li>
        </ul>
        Pour le Collège de Vaucouleurs :
        <ul> 
            <li> Lundi, mardi, jeudi, vendredi: Départ : 8h00, retour : 17h30</li>
            <li> Mercredi: Départ : 8h00,  retour : 12h</li>
        </section>
        Liens vers les écoles :
        <ul>
        <li> <a href="https://www.education.gouv.fr/annuaire/55-meuse/maxey-sur-vaise/etab/ecole-primaire-publique-des-sources-de-la-vaise.html"> Ecole primaire des sources de la Vaise</a></li>
        <li> <a href="http://www.villevaucouleurs.com/ecoles-et-colleges_fr.html"> Collège les Cuvelles de Vaucouleurs </a> </li>
        <li> <a href="https://lyceehenrivogt.fr">Lycée Henry Vogt Commercy</a> </li>
        </ul>
    </main>
     <aside class="col-md-4">
        <p> <img src = "/images/photomairie1.jpg" height="300"> Marie </img> </p>
        <p> <img src = "/images/photoboulangerie1.jpg" height="300"> Boulangerie </img> </p>
        <p> <img src = "/images/imageabrisbus.jpg" height="300"> Abri-bus </img> </p>
    </aside>
</div>
{% endblock %}
