
<p>Bonjour {{user.firstname }} {{user.lastname }},</p>
<p>Pour votre demande de réinialisation de mot de passe, veuillez cliquer sur le lien ci-dessous :</p>
<p><a href="{{ url|raw }}">{{ url|raw }}</a> </p>
<p>Merci</p>