{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 800px; width: 95%; min-height: 20em; }
    hr{     height: 3px;    color: yellow;    background-color: yellow;
    width: 10%;    border: none;    margin-top: 0;    padding-top:0;  }
    .champ_description {font-size: 12px; height:100px}
</style>

<h2 class="text-center mt-4"> {{ titre }} </h2>
<hr class="soustiret">
<main class="example-wrapper">
    

   <div class="container mt-4 mb-4">
        
        {{ include ('admin/evenement/_form.html.twig', {form: form, button: 'Enregistrer'}) }}
   </div>
</main>
   {% endblock %}