{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 800px; min-height: 200em; }
</style>

<div class="example-wrapper">
    <h2> {{ titre }} </h2>

   <div class="container mt-4 mb-4">
        
        {{ include ('admin/evenement/_form.html.twig', {form: form, button: 'Créer'}) }}
   </div>
</div>
{% endblock %}