{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; min-height: 200em; }
</style>

<div class="example-wrapper">
    <h2> {{ titre }} </h2>

   <div class="container mt-4">
        <h2>Créer un évènement</h2>
        {{ include ('admin/evenement/_form.html.twig', {form: form, button: 'Créer'}) }}
   </div>

   {% endblock %}