{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="alert alert-danger" >Accés non autorisé</h2>

    <div class="container m-4">
        Nous sommes désolés. Vous n'avez pas les droits requis pour accéder
        à la page demandée. <br>Veuillez vous connecter avec un identifiant ayant les droits d'administration requis.
        ou <a href="{{ path('home') }}">retournez à la page d'accueil</a>.
    </div>

{% endblock %}