{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h2>Page non trouvée</h2>

    <div class="container">
        Nous sommes désolés. La page demandée n'a pas pu être localisée sur ce site. 
        Vérifiez les erreurs dans l'URL <br>
        ou <a href="{{ path('home') }}">retournez à la page d'accueil</a>.
    </div>
{% endblock %}
