{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur interne</h1>

    <p>
        Nous sommes désolés. Une erreur interne s'est produite sur le serveur. <br>
        Veuillez <a href="{{ path('contact') }}">informer l'administrateur du système</a> de ce que vous étiez en train de faire
        quand l'erreur s'est produite, et nous règlerons le problème dès que possible.<br>
        ou <a href="{{ path('home') }}">retournez à la page d'accueil</a>.
    </p>
{% endblock %}