<article>
    <h4 class="text-center mb-4"> Sauver le patrimoine communal : récit d'une belle aventure humaine </h4>
    <p>C'est lors d'un repas organisé par la municipalité pour ses anciens en 2009 que les habitants ont 
    parlé de leur église. Faisant le constat de son état de délabrement intérieur, très vite leur est venue
    l'idée de faire quelque chose pour cet édifice communal datant du XVéme siècle.
    <br>Rappelons que depuis la loi de 1905, le bâtiment appartient à la commune.
    </p>
    <p>Heureusement des travaux avaient été menés par les précédentes équipes municipales, notamment
    après la seconde guerre mondiale pour rénover la couverture de la nef et plus tard le clocher. 
    En revanche, l'intérieur était dans un tout autre état.
    </p>
    <p> La commune disposant de faibles ressources et devant assumer alors de très lourds travaux d'assainissement, elle ne pouvait se permettre
    d'engager d'autres dépenses </p>
    <p>C'est au cours d'une réunion publique organisée par Daniel Rouvenach, le maire, et réunissant 
    toutes les personnes intéressées par le projet que l'idée de créer une association est née.
    <p>La création de l'association Saint Grégoire le Grand (du nom du saint patron de l'église) a eu lieu officiellement 
    le 9 Juillet 2010. Dès le début, elle s'est engagée à respecter les principes de laïcité et s'inscrire totalement 
    dans une <strong>démarche culturelle et de valorisation du patrimoine</strong>. </p>

    <p>La première année de fonctionnement a été consacrée à la définition du projet de restauration et à l'aide de 
    conseillers techniques qui pour certains l'ont accompagnée tout au long des travaux. En effet, 
    il fallait respecter les techniques anciennes </p>

    <p>La sécurisation des travaux en 2012 était le préalable pour obtenir des aides publiques. 
    <p>Parallèlement, une petite équipe de volontaires s'est constituée pour un rendez-vous hebdomadaire de 
    travail chaque vendredi matin. Un chantier d'"anciens" certes, mais très efficace, doublé 
    d'une équipe féminine pour le nettoyage et le décapage.
    </p>
    <p>Ensuite chaque année une allée a été restaurée : murs, voûtes, sols, bancs, boiseries, statues. 
    Les entreprises, dont un chantier d'insertion, sont intervenues seulement pour le "gros oeuvre" 
    sur les voûtes </p>
    <p>Au milieu des aléas d'une telle aventure, il y a eu de beaux moments d'émotion, entre autre lors de la 
    découverte de fresques vieilles de plus de 400 ans. </p>
    <p>En Janvier 2014, une campagne de fouilles archéologiques effectuée gracieusement par la Direction 
    Régionale des Affaires Culturelles a permis la découverte de nombreuses sépultures dont les plus 
    anciennes dateraient de l'an 800 ! </p>
    <p> En 2013, des résidents secondaires du village, musiciens professionnels, ont proposé leur participation 
    en organisant un concert de musique classique à l'église. Devant sa grande réussite, il a lieu maintenant 
    chaque année en Juillet</p>
    <p> D'autres contributions volontaires et des souscriptions de la population se sont ajoutées aux subventions obtenues 
    de l'Etat, de la Région et du Département.</p>
    <p>Ce beau projet est arrivé à son terme en Mai 2019, fêté par une inauguration de l'église restaurée à laquelle 
    de plusieurs élus locaux et représentants des diverses institutions étatiques ont pris part
    </p>
    
    <p>Suite à la restauration, l'église a été retenue pour faire partie d'un circuit des
    <a href="https://musees-meuse.fr/wp-content/uploads/2018/07/Eglises-remarquables-de-Meuse.pdf"> églises remarquables de la Meuse </a>.
    </p>
    <p>L'HISTOIRE nous rappelle que toute civilisation, pour continuer d'exister, doit 
    préserver l'oeuvre de ses pères et surtout la transmettre aux générations futures. 
    </p>
</article>
<section class="example-wrapper">
   
    <p> <strong> Photos de l'église avant la restauration : </strong>
        <a href="https://www.fondation-patrimoine.org/les-projets/eglise-saint-gregoire-le-grand-a-pagny-la-blanche-cote">Fondation du Patrimoine </a></p>
    </p>
</section>