{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; font: 16px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row container">
<main class="example-wrapper col-md-8">
    <h1> {{ titre }} </h1>
    
    <p> L'Eglise St-Grégoire fait la fierté de la population depuis sa restauration dans les années 2010.
        ...
        A REDIGER
    </p>
   
    <p> <strong> Liens : </strong></p>
  
    <p> <a href="#"> Les plus belles églises du département </a> </p>
    <p> <a href="https://www.fondation-patrimoine.org/les-projets/eglise-saint-gregoire-le-grand-a-pagny-la-blanche-cote">Fondation du Patrimoine </a></p>
</main>
<aside class="col-md-4">
    <img src="/images/eglise/InaugurationEglise.JPG" Alt="Ineuguration Eglise" height="300"/>
    <img src="/images/eglise/AlleePrincipaleEglise.JPG" height="300"/>
    <img src="/images/eglise/OrguesEglise.JPG" height="300"/>
    <img src="/images/eglise/NaissanceJesusEglise.JPG" height="300"/>
    <img src="/images/eglise/AlleeDroiteEglise.JPG" height="300"/>
</aside>
</div>
{% endblock %}
