<h5 class="mt-5"> Rubrique Patrimoine</h5>
<div>
    <div><a href="{{ path('historique') }}">Historique du village</a></div>
    <div><a href="{{ path('patrimoine') }}">Eglise St Grégoire le Grand</a></div>
</div>