<h6 class="mt-3"> Rubrique Patrimoine</h6>
<div>
    <div><a href="{{ path('historique') }}">Historique du village</a></div>
    <div><a href="{{ path('eglise') }}">Eglise St Grégoire le Grand</a></div>
</div>