{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 400px; min-height: 200em; }
</style>

<div class="example-wrapper">
    <h2> {{ titre }} </h2>
    <hr>

   <main class="container mt-4 mb-4">
        
        {{ include ('/admin/utilisateur/_form.html.twig', {form: registrationForm, button: 'Créer'}) }}
   </main>
</div>
{% endblock %}